body {
    background: -webkit-linear-gradient(bottom, #077381, #2fc4c9);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin: 4rem auto 8.1rem auto;
    width: 330px;
}
#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title {
    background: -webkit-linear-gradient(bottom, #2fc4c9, #077381);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 149px;
}
a {
    text-decoration: none;
}
label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #2fc4c9;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: center;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 15px; 
}
.form-border {
    background: -webkit-linear-gradient(bottom, #077381, #2fc4c9);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
#submit-btn {
    background: -webkit-linear-gradient(bottom, #2fc4c9, #077381);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c6b8;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #66c4d4;
}
